@import "normalize";
.container{
    margin: 0 auto;
}
.imgs{
    display: flex;
}
.imgblock{
    flex: 1;
    text-align: center;
    img{
        width: 80%;
        height: 80%;
    }
}
.footer{
    display: flex;
}
.text{
    // flex-direction: column;
    flex: 1;
    text-align: center;
    margin: 0 10px
}