@import "_normalize";

.container {
    margin: 0 auto;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

header {

    .navbar-nav {
        font-size: 18px;

        a {
            color: #838383;
        }

        a:hover {
            color: #000000;
        }
    }
    nav{
        border-bottom: 1px solid #dfdfdf;
    }
}

.banner-text {
    text-align: center;

    h2 {
        font-size: 56px;
    }

    h4 {
        font-size: 26px;
        color: #9e9e9e;
        margin-top: 5%;
    }

    a {
        background-color: #a06dfd;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        border-radius: 5px;
    }

    & {
        margin-top: 15%;
    }

    button {
        margin-top: 2%;
        color: white;
        background-color: #a06dfd;
        border-color: #a06dfd;
    }
}

.feature-content {
    text-align: center;
    margin: 40px 0;
    color: #373642;

    h3 {
        font-size: 36px;

    }
}

.card {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    .card-body {
        font-size: 10px;
    }

    h4 {
        color: #7d8b9a;
    }

    .card-footer {
        background-color: white;
    }

    a {
        color: black;
    }
    &:hover{
        box-shadow: 0 2px 12px 2px #99a6b14a;
    }
}
.feature-content{
    margin-top: 10%;
}
.story {
    width: 90%;
    margin: 0 auto;
    background-color: #677bff;
}

.story-area {
    margin-top: 5%;
    color: #ffffff;
    padding: 110px 0;
}

.story-img {
    text-align: center;
}

.story-text {
    margin-top: 5%;
}

.signup-content {
    margin-top: 5%;
    text-align: center;

    nav {
        justify-content: center;
    }

    .form-inline {
        width: 60%;

        .input-group {
            width: 100%;
        }
    }
    button {
        width: 60%;
    }
}

footer {
    margin-top: 5%;

    .navbar-brand,
    .navbar-nav {
        padding-top: 3%;
    }

    .navbar-brand {
        padding-left: 2%;
    }

    .nav-item a:hover {
        color: #cfcfcf !important;
    }
}
img{
    width: 50%;
}