#p1
{
    font-size: 20px;
    line-height: 1.8em;
}
#item1 li
{
    float: left;
    margin-left: 40px; 
}
#div1
{
    border: 1px red solid;
}
#div2
{
    border-width: 3px;
    border-color: blue;
    border-style: dotted;
  
    border-left: medium dashed green;
}
#div3
{
    border: 1px red solid;
    border-radius: 5px 10px 15px 20px;
}
#div4
{
    border-width: 3px;
    border-color: blue;
    border-style: dotted;
    border-radius: 5px 10px 15px 20px;

    border-left: medium dashed green;
}
div > img 
{
    float: right;
    border-radius: 5px;
}
#div5
{
    overflow: scroll;
}
/*
div
{
    margin-left :165pt;
    margin-right :165pt;
}
dt
{
    font-size: 50pt;
}
#img1
{
    float: left;margin:15px;
    width: 200px;height: 150px;
    border-radius: 10px;
}
#red
{
    color:brown;
    font-size : 20pt;
}
#img2
{
    width:1000px;
}
#ins
{
    color: red;
}
#p1
{
    line-height: 20pt;
}
#href1
{
    color: blue;
}
*/